<!--block sidebar-->
<div id="sidebar-sub-container">

        <h2>Categories</h2>
        <ul>
            <button class="accordion"><h4>Operating Systems</h4></button>
            <li class="sidemenu"><a href="posts/OS.txt">|--OS.txt</a></li>
        </ul>
        <h2>Archives</h2>
        <ul class="archives-list">
            <button class="accordion"><h4>August 2018</h4></button>
            <li class="sidmenu"><a href="posts/OS.txt">|--OS.txt</a></li>
        </ul>
        <h2>Tags</h2>


    </div>
    <script type="text/javascript" src="resources/js/sidebar.js"></script>
    <!-- endblock sidebar -->