<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>shelby_codes</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Asap|Nunito+Sans|VT323" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="resources/css/blog.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

</head>

<body>
    <div id="body-container" class="container-fluid">
        <div class="page-header">
            <h1 id="title"><a class="title" href="index.html">shelby_codes</a></h1>
            <ul id="menu_list">
                <li class="menu"><a href="about.html" class="menu">About</a></li>
                <li class="menu"><a href="projects.html" class="menu">Projects</a></li>
                <li class="menu"><a href="blog_main.html" class="menu">Blog</a></li>
                <li class="menu"><a href="index.html" class="menu">Home</a></li>
            </ul>
        </div>

        <div id="columns">
            <div id="sub-columns">

                <!-- <div id="side-menu" class="menu container">



                </div> -->

                <div id="post-container" class="content container">
                    <!-- {#                <div id="breadcrumbs">Breadcrumbs > breadcrumbs</div>#} -->
                    <!-- {% block welcome %} -->
                    <h1 id="welcome-title">Welcome!</h1>
                    <h2 id="content-title">New Posts</h2>

                    <div id="post-sub-container">
                        <!-- {%  if posts %}
                                {% for post in posts reversed %}
                                    <div id="blog-post-index">
                                     <img id="post-img-index" src="{{ post.img }}">
                                        <p id="post-date-published">published: {{ post.publish_date }}</p>
                                        <h3><a href="{% url 'blog:post' post.slug %}">{{ post.title }}</a></h3>
                                        <p id="post-text">{{ post.body|truncatewords:20 }}</p>
                                    </div>
                                {% endfor %}
                                {% else %}
                                <p>There are no posts.</p>
                            {% endif %} -->
                    </div>

                    <!-- {% endblock %} -->
                </div>
                <!-- END BLOG-POSTS -->


                <!-- START RIGHT-SIDE-BAR -->
                <div id="sidebar-container">
                    <!-- {% block sidebar %} -->
                    <div id="sidebar-sub-container">

                        <h2>Categories</h2>
                        <ul>
                            <button class="accordion"><h4>Operating Systems</h4></button>
                            <li class="sidemenu"><a href="posts/OS.txt"><sup>|</sup>--OS.txt</a></li>

                        </ul>
                        <h2>Archives</h2>
                        <ul class="archives-list">
                            <h4 class="archives-month">August 2018</h4>
                            <!-- {% for post in posts %}
                                    {% ifequal post.publish_month 8 %}
                                        <li class="archives-list">
                                            <a class="archives-list" href="{% url 'blog:post' post.slug %}">{{ post.title }}</a>
                                        </li>
                                    {% endifequal %}
                                {% endfor %} -->
                        </ul>
                        <h2>Tags</h2>


                    </div>
                    <!-- {% endblock sidebar %} -->
                </div>
                <!-- {# END RIGHT-SIDE-BAR #} -->
            </div>
        </div>
        <!-- {# end columns #} -->
    </div>

    <div id="footer">
    </div>

    <script type="text/javascript" src="resources/js/index.js"></script>
</body>

</html>