body {
    background-color: rosybrown;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#title {
    color: #f0fff0;
    text-align: center;
    font-family: 'Lora', serif;
}

#header {
    background-color: black;
    width: 100%;
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}

.column {
    box-sizing: border-box;
    width: 33.33%;
    border: 1px solid red;
    float: left;
    height: 1000px;
}

#footer {
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    height: 30px;
}

#main {
    padding-bottom: 30px;
}

#container {
    height:100%;
    position: relative;
}